<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-grid p-nogutter">
            <div class="p-col-12 login-header">
                <h1>MATCH ARTIST</h1>
                <h2>LOGIN</h2>
                <img src="assets/layout/images/logo.png">   
            </div>
            <div class="p-col-12">
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>E-mail</label>
                </span><br>
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>Senha</label>
                </span>
                <button pButton type="button" onclick="location.href='/#/EsqueciMinhaSenha';" label="Esqueci minha senha" class="p-button-link"></button>
                <button pButton type="button"  label="Entrar" icon="pi pi-user"></button><br><br>
                <button onclick="location.href='/#/tipousuario';" pButton type="button"  label="Criar Conta" icon="pi pi-user" ></button>
            </div>
        </div>
    </div>
</div>
