<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-grid p-nogutter">
            <div class="login-header">
                <div class="box">
                    <tr> <img id="logo" src="assets/layout/images/logo.png"></tr>
                </div>
            </div>
        </div>
        <form [formGroup]="formulario" novalidate>
            <div class="p-grid p-nogutter">
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="email">
                        <label>E-mail</label>
                    </span><br>
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="password">
                        <label>Senha</label>
                    </span>
                    <button pButton type="button" onclick="location.href='/#/EsqueciMinhaSenha';"
                        label="Esqueci minha senha" class="p-button-link"></button>
                    <button (click)="login()" pButton type="button" label="ENTRAR"></button><br><br>
                    <button onclick="location.href='/#/tipousuario';" pButton type="button" label="CRIAR CONTA"></button>
                </div>
            </div>
        </form>
    </div>
</div>
