<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-grid p-nogutter">
            <div class="p-col-12 login-header">
                <h1>MATCH ARTIST</h1>
                <h2>RECUPERAR SENHA</h2>
                <img src="assets/layout/images/logo.png">   
            </div>
            <div class="p-col-12">
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>E-mail</label>
                </span><br>
                
                <button pButton type="button" onclick="location.href='/#/EsqueciMinhaSenha2';" label="Enviar e-mail" icon="pi pi-user"></button><br>
                <button pButton type="button" onclick="location.href='/#/login';" label="Voltar" class="p-button-link"></button>

            </div>
        </div>
    </div>
</div>
