<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-grid p-nogutter">
            <div class="login-header">
                <div class="box">
                    <tr> <img src="assets/layout/images/logo.png"></tr>
                </div>
            </div>
            <div class="p-col-12">
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>CODIGO</label>
                </span><br>
                <button pButton type="button" onclick="location.href='/#/EsqueciMinhaSenha2';"
                    label="AUTENTIFICAR"></button><br>
                <button pButton type="button" onclick="location.href='/#/login';" label="VOLTAR"
                    class="p-button-link"></button>

            </div>
        </div>
    </div>
</div>
