<div class="p-grid p-nogutter floatlabel-demo">
    <div class="card p-fluid" style="width: 100%">
        <h2>Novo Evento</h2>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <p-calendar inputId="calendar" [(ngModel)]="value3"></p-calendar>
                        <label for="calendar">Data</label>
                    </span>
                </div>
            </div>
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText>
                        <label for="inputtext">Horário</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities"
                            [(ngModel)]="value8" optionLabel="name"></p-dropdown>
                        <label for="dropdown">Gênero Musical</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <textarea inputId="textarea" rows="3" cols="30" pInputTextarea
                            ></textarea>
                        <label for="textarea">Descrição do Evento</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText >
                        <label for="inputtext">CEP</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText >
                        <label for="inputtext">Endereço</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText >
                        <label for="inputtext">Complemento </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText >
                        <label for="inputtext">Cidade</label>
                    </span>
                </div>
            </div>

        </div>
        <div class="div-botao2">
            <p-button label="Cadastrar" class="p-mr-2 p-mb-2"></p-button>
        </div>



    </div>
</div>