<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-col-12">
            <div class="label">
                <h2>Escolha tipo de usuário:</h2>
            </div>
            <button pButton type="button" onclick="location.href='/#/cadArtista';" label="ARTISTA"></button><br><br>
            <button pButton type="button" onclick="location.href='/#/cadEstabelecimento';"
                label="ESTABELECIMENTO"></button>
            <button pButton type="button" onclick="location.href='/#/login';" label="Voltar"
                class="p-button-link"></button>

        </div>
    </div>
</div>
