<div class="p-grid p-nogutter floatlabel-demo">
    <div class="card p-fluid" style="width: 100%">
        <h2>Luciano do Pagode</h2>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="lucianogod@gmail.com">
                        <label for="inputtext">E-mail</label>
                    </span>
                </div>
            </div>

        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="(62)3295-4718">
                        <label for="inputtext">Telefone</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="Goiânia">
                        <label for="inputtext">Cidade</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="Pagode">
                        <label for="inputtext">Gênero Musical</label>
                    </span>
                </div>
            </div>

        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <textarea inputId="textarea" rows="3" cols="30" pInputTextarea
                            readonly>Estou na ativa desde 2013, tocando pagodes clássicos nos botecos de Goiânia.</textarea>
                        <label for="textarea">Informações do Artista</label>
                    </span>
                </div>
            </div>

        </div>
        <div class="div-botao3">
            <p-button label="Enviar Proposta Para o Artista" class="p-mr-2 p-mb-2"></p-button>
        </div>

        <div class="div-img1">
            <img class="solicitacao-img2"
                src="https://i.pinimg.com/originals/df/15/7d/df157d1e5a8a78999d86fd1fd8642439.jpg">
        </div>



    </div>
