<div class="p-grid p-nogutter floatlabel-demo">

    <div class="card p-fluid" style="width: 100%">
        <h2>Música Sertaneja Bar Bahrem</h2>
        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="12/12/2021">
                        <label for="inputtext">Data</label>
                    </span>
                </div>
            </div>
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="21:00">
                        <label for="inputtext">Horário</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <textarea inputId="textarea" rows="3" cols="30" pInputTextarea
                            readonly>Procura-se cantor(a) sertanejo(a) para cantar essa noite. Show acontecerá em tenda ao lado do bar.</textarea>
                        <label for="textarea">Informações do Evento</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12 p-md-2">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="74000-00">
                        <label for="inputtext">CEP</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly
                            value="Av. Duque de Caxias Setor das Laranjeiras">
                        <label for="inputtext">Endereço</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="Qd 45B Lote 08">
                        <label for="inputtext">Complemento </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText readonly value="Goiânia">
                        <label for="inputtext">Cidade</label>
                    </span>
                </div>
            </div>

        </div>
        <div class="div-botao2">
            <p-button label="Tenho Interesse" class="p-mr-2 p-mb-2"></p-button>
        </div>

        <div class="solicitacao-artista-img">
            <img class="solic-img" src="assets/pages/images/solicitacao-do-artista-para-evento/img-demo.jpg">
        </div>

    </div>

</div>
