$primaryColor: rgb(19, 147, 211);
$primaryLightColor: #90a4ae;
$primaryTextColor: #cfd8dc;
$primaryTextHoverColor: #eceff1;
$accentColor: #8bc34a;
$accentLightColor: #dcedc8;
$accentTextColor: #ffffff;
$activeMenuItemTextColor: #8bc34a;
$darkActiveMenuItemTextColor: #8bc34a;
$darkMenuItemTextColor: #dee0e3;
$darkMenuItemInactiveTextColor: #757575;
$darkMenuItemHoverBgColor: #545454;
$darkSidemenuBgColor: #343434;
$darkMenuBgColor: #424242;

@import "../../sass/layout/_layout";
