<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-grid p-nogutter">
            <div class="p-col-12">
                <h3>Cadastro de Estabelecimento</h3>
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>Nome/Razão Social</label>
                </span><br>
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>E-mail</label>
                </span><br>
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>Senha</label>
                </span><br>
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>Telefone</label>
                </span><br>
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label>Logradouro</label>
                </span><br>

                <div class="p-float-label p-grid ">
                    <span class="p-float-label p-col">
                        <input type="text" pInputText>
                        <label>Complemento</label>
                    </span>
                    <span class="p-float-label p-col">
                        <input type="text" pInputText>
                        <label>Cidade</label>
                    </span>
                </div><br>
                <div class="p-field">
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" optionLabel="name"></p-dropdown>
                        <label for="dropdown">Tipo de Estabelecimento</label>
                    </span>
                </div>
                <span class="p-float-label">
                    <textarea inputId="textarea" rows="3" cols="30" pInputTextarea></textarea>
                    <label for="textarea">Descrição de Negócio</label>
                </span><br>

                <div class="text-center button-center">
                    <p-button label="Cadastrar" class="p-mr-2 p-mb-2"></p-button>
                </div>

                <button pButton type="button" onclick="location.href='/#/tipousuario';" label="Voltar"
                    class="p-button-link"></button>


            </div>


        </div>

    </div>
</div>
