<div class="login-body">
    <form [formGroup]="formulario" novalidate>
    <div class="form-cad-artist p-fluid">
        <div class="p-grid p-nogutter">
            <div class="p-col-12">
                <h3>Cadastro Artista</h3>
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="email">
                    <label>Email</label>
                </span><br>
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="senha">
                    <label>Senha</label>
                </span><br>
                <div class="p-field">
                    <span class="p-float-label">
                        <p-dropdown [options]="tipoUsuario" [(ngModel)]="tipo" (onChange)="disableButton()" placeholder="Tipo de Usuario" optionLabel="desc" [showClear]="true" formControlName="tipoUsuario">
                        </p-dropdown>
                    </span>
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="nomeArtista">
                    <label>Nome Artista</label>
                </span><br>
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="descArtista">
                    <label>Descrição</label>
                </span><br>
                <span class="p-float-label">
                    <input type="number" pInputText formControlName="contatoArtista">
                    <label>Contato</label>
                </span><br>
                <br>
                <mat-divider></mat-divider>
                <br>
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="nomeEstab">
                    <label>Nome Estabelecimento</label>
                </span><br>
                <span class="p-float-label">
                    <input type="text" pInputText formControlName="descEstab">
                    <label>Descrição Estabelecimento</label>
                </span><br>
                <span class="p-float-label">
                    <input type="number" pInputText formControlName="contatoEstab">
                    <label>Contato Estabelecimento</label>
                </span><br>
                <div class="text-center button-center">
                    <p-button label="Cadastrar" class="p-mr-2 p-mb-2" (onClick)="enviar()">
                    </p-button>
                </div>
                <button pButton type="button" onclick="location.href='/#/tipousuario';" label="Voltar" class="p-button-link"></button>
            </div>
        </div>
    </div>
    </form>
</div>
